DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=alphait_db
DB_PORT=3306

JWT_SECRET=votre_cle_secrete_ici

STRIPE_SECRET_KEY=sk_test_votre_cle_secrete_ici

EMAIL_USER=votre_email@gmail.com
EMAIL_APP_PASSWORD=votre_app_password_ici

PORT=5000